{% extends 'base.html' %}
{% block content %}
<div style="text-align:center;">
    <h1>GO CAFE</h1>
    <p>Project by 🍵: {{ name_person }} - {{ npm }} - {{ class_name }}</p>
    
    {% if not product_entries %}
    <p>Belum ada data produk pada GoCafe.</p>
    {% else %}
    <table style="width: 100%; margin-top: 20px; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 2px solid #ce5509; padding: 8px;">Coffee Name</th>
                <th style="border: 2px solid #ce5509; padding: 8px;">Price</th>
                <th style="border: 2px solid #ce5509; padding: 8px;">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for product_entry in product_entries %}
            <tr>
                <td style="border: 2px solid #ce5509; padding: 8px;">{{ product_entry.name }}</td>
                <td style="border: 2px solid #ce5509; padding: 8px;">{{ product_entry.price }}</td>
                <td style="border: 2px solid #ce5509; padding: 8px;">{{ product_entry.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    <br />
    <a href="{% url 'main:create_product' %}">
        <button style="padding: 10px 20px; font-size: 16px;">Add Product</button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button style="padding: 10px 20px; font-size: 16px; margin-top: 10px;">Logout</button>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </a>
</div>
{% endblock content %}
